---

---

<section class='bg-black text-white py-16'>
  <div class='container mx-auto px-4'>
    <div class='flex p-4 justify-center flex-col gap-4 h-99 rounded-2xl' style=`background-image: url(/backgrounds/contact.png); background-size: cover; background-position: center;`>
      <h1 class='text-white font-extrabold text-5xl leading-16 uppercase'>Need Assistance?<br /> Contact me Today</h1>
      <a href='mailto:javier@oxozon.io' class='inline-flex px-12 py-5 justify-center items-center gap-2.5 rounded-2xl bg-blue-900'>Contact Now</a>
    </div>
  </div>
</section>
