---
// Component Script (JavaScript)
---

<section class='text-white py-16' style=`background-image: url(/backgrounds/hero.avif); background-size: cover; background-position: center;` '>
  <div class='container mx-auto px-4'>
    <div class='flex p-4 justify-center flex-col gap-4 h-[600px] rounded-2xl'></div>
  </div>
</section>
