---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro';
import Architecture from '../components/home/Architecture.astro';
import Motivation from '../components/home/Motivation.astro';
import Offerings from '../components/home/Offerings.astro';

const title = 'Gaulatti — Creative Developer, Composer & Storyteller';
const description = 'Digital portfolio of Javier Godoy — where software engineering, music composition, and storytelling converge.';
---

<Layout title={title} description={description}>
  <main class='flex flex-col'>
    <Hero />
    <Motivation />
    <Offerings />
    <Architecture />
  </main>
</Layout>
