---

---

<div class='bg-slate-900 text-center p-4 text-white flex flex-col flex-1 justify-center'>
  Coming soon. This page is raw on purpose, I want you to see how I'm building it, live.
  <p class='p-4'>Want to see more?<br /><a href='//github.com/gaulatti' target='_blank'>Come to my <b>github</b>.</a></p>
  <p class='p-4'>Cheers, <b>Javier</b>.</p>
</div>
